<div class="playerSection">

    <div class="column">
        <app-item-list></app-item-list>
    </div>

    <div class="selectedDisplay">

        <div class="container">

            <div class="infoDisplay">
                
                <router-outlet></router-outlet>

            </div>
            
            <button [routerLink]="['/admin/create']"> Create </button>           
        </div>

    </div>

    <div class="listDisplay">

        <div class="container">
            <app-player-list></app-player-list>
        </div>

    </div>
    
</div>
