<div class="showSection">

    <form [formGroup]="itemCreateForm">

        <h3><input class="tittleInput" type="text" formControlName="name"></h3>

        <div class="imageContainer">
            <div class="image">

            </div>

            <div class="examine">
                DESCRIPCION: <input style="border: 3px solid black;" class="content" type="text" formControlName="examine">
            </div>

        </div>


        <ul>

            <li>
                <p class="tittle"> ACTUALIZACION </p>
                <p><input class="content" type="text" formControlName="last_updated"></p>
            </li>
            <li>
                <p class="tittle">COSTO</p>
                <p><input class="content" type="number" formControlName="cost"></p>
            </li>
            <li>
                <p class="tittle">PESO</p>
                <p><input class="content" type="number" formControlName="weight"></p>
            </li>
            <li>
                <p class="tittle">URL</p>
                <p> <a [href]="item.wiki_url"> {{item.wiki_url}}</a></p>
            </li>


            <div class="buttonContainer">
                <button (click)="save()"> GUARDAR </button>
            </div>
            
        </ul>



    </form>

</div>