<h1 class="mainTittle">¡LISTO PARA JUGAR MUD!</h1>

<div class="content">
    <nav>
        <ul>
            <li>
                <a [routerLink]="['/']">INICIO</a>
            </li>

            <li>
                <a [routerLink]="['design/monster/create']">DISEÑADOR</a>
            </li>

            <li>
                <a [routerLink]="['/admin/create']">ADMINISTRADOR</a>
            </li>
            <li>
                <a [routerLink]="['/game']">JUEGO</a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>

</div>