.designContainer{
    background-color:#0784ff;
    position: relative;
    width: 1200px;
    height: auto;
    left: 300px;
    top: -157px;
    margin: 5px;
    margin-bottom: -70px;
    padding: 20px;
}
.designContainer .navBar{
    background-color:#0784ff;
    
}

.designContainer .navBar ul{
    background-color:#0784ff;
    text-align: left;
    align-items: center;
    
    width: 200px;
    
   
}
.designContainer .navBar  ul li{
    background-color:#0784ff;
    list-style: none;
    text-align: center;
    text-emphasis: none;
    margin-left: 30px;
    display:inline;
}
.designContainer .navBar  ul li:hover{
    background-color:#48edff;
    list-style: none;
    text-align: center;
    text-emphasis: none;
}

.designContainer .container{
    background-color:#082fca;
    padding: 20px;
}
.color1 {color: #ffd551;}
.color2 {color: #fff374;}
.color3 {color: #082fca;}
.color4 {color: #0784ff;}
.color5 {color: #48edff;}