<div>

    <div class="homeSection">
        <h3>MULTIUSER DUNGEON</h3>
        <p>Un juego en el cual pasaras de habitacion en habitacion.... sin saber con que te encontraras :) Dungeons & Dragons (en español Dragones y mazmorras o Calabozos y dragones) es un juego de rol de fantasía heroica actualmente publicado por Wizards of the Coast. El juego original fue diseñado en Estados Unidos por Gary Gygax y Dave Arneson y publicado por primera vez en 1974 por la compañía de Gygax, Tactical Studies Rules (TSR). Originalmente derivado de juegos de tablero jugados con lápiz, papel y dados, la primera publicación de Dungeons & Dragons es bien conocida como el principio de los juegos de rol modernos1​ y por consiguiente de la industria de los juegos de rol.

            Desde su aparición este juego ha sido publicado a lo largo de un gran número de ediciones y muchas de ellas han sido traducidas al castellano, pero conservando siempre en las traducciones el título original en inglés: Dungeons & Dragons. En España se usó el título Dragones y mazmorras para la serie animada basada en el juego y para las dos primeras películas derivadas del juego (Dungeons & Dragons y Dungeons & Dragons: Wrath of the Dragon God). En Hispanoamérica, tanto la serie de televisión como las películas se titularon Calabozos y dragones. </p>
    </div>


</div>