.mainFrame{
    background-color:#082fca;
    margin: 20px;
    padding: 30px;
}

.color1 {color: #ffd551;}
.color2 {color: #fff374;}
.color3 {color: #082fca;}
.color4 {color: #0784ff;}
.color5 {color: #48edff;}